<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Disaster Alleviation Foundation</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark " >
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Disaster", "Disaster", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Mon_Donation", "Mon_Donation", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Goods_Donations", "Goods_Donations", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("AllocateGoods", "AllocateGoods", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("AllocateMoney", "AllocateMoney", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("PurchaseCapture", "PurchaseCapture", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Information", "Infomation", "Admin", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>

                <ul class="navbar-nav flex-grow-1" style="float:right !important">
                    @if (Session["Username"] != null)
                    {
                        <li><p style="color:#fff;">Hello @Session["Username"] </p></li>
                        <li>@Html.ActionLink("Sign In", "Login", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Log Out", "Logout", "Admin", new { area = "" }, new { @class = "nav-link" })</li>

                    }
                    else
                    {

                        <li>@Html.ActionLink("Register", "Register", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Sign In", "Login", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Log Out", "Login", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    </ul>
</div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Disaster Alleviation Foundation Form</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
